body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #f0f0f0; /* Web sayfasının arka plan rengi */
    color: #333333; /* Metin rengi */
}

@keyframes color-change {
  0% {
    color: blue;
  }

  40% {
    color: red;
  }
  70% {
    color: gold;
  }
  100% {
    color: blue;
  }
}

h1:hover {
  animation: color-change 3s infinite;
}

